################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EpicMoves/.vs/EpicMoves/v15/Server/sqlite3/storage.ide-wal
